@import "./variables.scss";
.line-header {
  width: 100%;
  height: 40px;
  background-color: $bgLineFooter;
}
.line-footer {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: $bgLineFooter;
}
.col-4 {
  position: absolute;

  width: 100%;
  color: rgb(212, 206, 206);

  img {
    margin-top: -30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}
