.cole-1 {
  float: left;
  width: 42%;
  padding-top: 75px;
  .header-menu-left {
    float: right;
  }
  .header-menu-right {
    float: left;
  }
}

.cole-2 {
  float: left;
  width: 16%;
  

  .header-logo {
    padding-top: 30px;
    img {
      width: 130px;
      height: 150px;
    }
  }
}

.dws-menu ul,
.dws-menu ol {
  list-style: none;

  a {
    padding: 0 40px;
    position: relative;
  }
}

.dws-menu > ul {
  display: flex;
  justify-content: center;
}

/*sub menu*/
.dws-menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
  padding-top: 20px;
}

.dws-menu li > ul li ul {
  position: absolute;
  
  
  
}
.dws-menu li:hover > ul {
  display: block;
  
}

.dws-menu a::before {
  content: "";
  bottom: -5px;
  
  left: 30px;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(132, 131, 131);
  transition: 0.2s;
}
.dws-menu a:hover:before {
  width: 60%;
}
  li {
  margin-top: 10px;
  
 }