@import "./variables.scss";

.portfoliophoto {
  width: 100%;
  text-align: center;
  padding-top: 10px;

  .blockphoto {
    width: 100%;
    margin: 15px;
    padding-left: 50px;
  }

  img {
    padding: 5px 4px;
    width: 20%;
    height: 440px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 8px #000;
    margin: 6px 5px;
  }
}

.ac:defined {
  z-index: 2;
  position: absolute;
  margin-left: 50px;
  transform: scale(1.6);
  transition: 1s;
}
