@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: $fontmenu;
  background-color: $bgColor;
  color: $textColor;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}

.center {
  text-align: center;
}

.links {
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: $fzmenu;
    letter-spacing: 7px;
    color: $textColor;
  }
}

.container-fluid {
  width: 100%;
  min-height: 50px;
}
