@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200&display=swap");

$bgColor: #ffffff;
$textColor: rgb(71, 69, 69);
$fzmenu: 14px;
$textColor2: rgb(150, 242, 242);
$fontmenu: "JetBrains Mono", monospace;
$bgLineFooter:rgb(224, 244, 244);
