// @font-face {
// font-family: Ultra;
// src: url(../font/Pepper\ Type\ -\ Steclo-ExtraLight.otf);
// }


$bgColor: #ffffff;
$textColor: rgb(71, 69, 69);
$fontmenu: "Times New Roman";
$fzmenu: font-size 16px;




